### Overview:
The United States of America is the world’s largest economic powerhouse and holds the authority to change the global economic scene in an instant. For investors, many are not certain about the state that America is in, and whether or not it is an opportune moment to invest. Of which, concerns over three key issues: the impact of U.S. tariffs, risks associated with high national debt, and the potential for the dollar to be replaced by other currencies are to be discussed. This report strives to bring analysis based on factual data in R and ongoing policies to give investors insights into the American market. The report argues that despite current uncertainties, the United States remains a compelling market for investment, offering opportunities in hedging market volatility, capitalizing on policy-supported emerging industries, and leveraging trends in domestic industry reshoring.

We first begin setup by importing our libraries.

In [26]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
trade_df = pd.read_csv('datasets/BOPGSTB.csv')
trade_df

    observation_date  BOPGSTB
0         1992-01-01    -2026
1         1992-02-01     -831
2         1992-03-01    -2641
3         1992-04-01    -3109
4         1992-05-01    -3919
..               ...      ...
398       2025-03-01  -136419
399       2025-04-01   -60191
400       2025-05-01   -71116
401       2025-06-01   -59086
402       2025-07-01   -78311

[403 rows x 2 columns]

In [23]:
trade_df.loc[trade_df["observation_date"] >= "2020-01-01"]

    observation_date  BOPGSTB
336       2020-01-01   -43562
337       2020-02-01   -39931
338       2020-03-01   -42374
339       2020-04-01   -51888
340       2020-05-01   -53995
..               ...      ...
398       2025-03-01  -136419
399       2025-04-01   -60191
400       2025-05-01   -71116
401       2025-06-01   -59086
402       2025-07-01   -78311

[67 rows x 2 columns]

NameError: name 'sns' is not defined